<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">

            <li>
                <a asp-area="Admin" asp-controller="ThingIDo" asp-action="Index">
                    <i class="ti-clipboard"></i>
                    <span>DInge die ich tue</span>
                </a>
            </li>

        </ul>
    </section>
</aside>