@using Lebenslauf.Domain.ViewModels.Fahigkeit
@model List<FahigkeitViewModel>

<div class="section">
    <h2 class="title title--h2"> Meine Fahigket</h2>
    <div class="box-gray">

        @foreach (FahigkeitViewModel item in Model)
        {
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="@item.Percent" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-text"><span>@item.Title</span><span>@item.Percent ٪</span></div>
                </div>
            </div>
        }

    </div>
</div>
